<div class="main-container">

  <div class="input-container">
    <h2 class="search-title">WEATHER IN YOUR CITY</h2>
    <div class="input-box">
      <input [ngModel]="searchInput" (ngModelChange)="valueChange($event)" type="text" placeholder="Your city name" class="search-input" >
      <img src="./assets/icon.png" srcset="img/icon@2x.png 2x, img/icon@3x.png 3x" class="icon" (click)="search()">
    </div>
  </div>

  <div class="cards-container">

    <div class="card-item" *ngIf="!showDetails" >
      <app-city-card *ngFor="let city of cities" (click)="seeDetails()" [temp]="city.main.temp" [weatherText]="city.weather[0].description"
                     [iconCode]="city.weather[0].icon"
                     [cityName]="city.name" [countryCode]="city.sys.country"
                     [maxTemp]="city.main.temp_max" [minTemp]="city.main.temp_min"></app-city-card>
    </div>

    <div class="weather-details">

    </div>

  </div>

</div>
