.main-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100vh;
}
.input-container{
  display: flex;
  flex-direction: column;
  background-color: #39a3db;
  align-items: center;
  height: 40vh;
  justify-content: center;
}

.cards-container{
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  height: 60vh;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.card-item{
  border-radius: 4px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 35%;
  height: 30%;
  margin: 10px;
}

.search-input{
  width: 460px;
  height: 48px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  font-family: Roboto;
  padding: 15px;
}
.search-input:focus{
  border: 3px solid #555
}
.search-input::placeholder, .search-input:active{
  color: #3c3c3c;
  font-family: Roboto;
  font-size: 16px;
  opacity: 0.25;
  padding: 15px;
}
.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  transform: translateX(-40px);
  cursor: pointer;
}

.search-title{
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
}
